@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #211617;
    color: coral;
    font-family: 'Electrolize', sans-serif;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: coral;
        font-size: 22px;
        .title {
            font-size: 30px;
            text-align: center;
            padding: 50px 0 100px;
        }
        .clock {
            display: flex;
            justify-content: center;
            .units {
                width: 200px;
                .time-data {
                    font-size: 60px;
                }
            }
            .sidebar {
                width: 150px;
                padding: 10px;
                .time-format {
                    font-size: 16px;
                }
                .abbr {
                    visibility: hidden;
                    padding-top: 20px;
                    height: 65px;
                }
                .switch {
                    cursor: pointer;
                    font-size: 12px;
                }
            }
        }
        .progress-bar {
            margin-top: 20px;
            background-color: coral;
            height: 10px;
            border-radius: 5px;
            border: 1px solid #f00d0d;
        }
        .copyright {
            margin-top: 200px;
            font-size: 12px;
            text-align: center;
        }
    }
}